.mat-radio-button {
    margin: 10px !important;
}

.mat-form-field {
    width: 100% !important;
}

button.btn.inline-block.btn-custom.mat-raised-button.mat-button-base {
    width: 40%;
    margin: 15px;
}