<div class="list-channels">
    <mat-card class="example-card list-item" *ngFor="let channel of channels | orderBy: order : false : false; let i = index">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{channel.name}}</mat-card-title>
            <mat-card-subtitle>{{channel.type}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{channel.imgsrc}}">
        <mat-card-content>
            <p>
                {{channel.desc}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button 
                mat-button 
                mat-raised-button 
                color="primary" 
                [disabled]="channel.isActive == 1"
                (click)="subscribe(channel, i, 'channel')"
            >
                SUBSCRIBE
            </button>
        </mat-card-actions>
        <!-- <mat-card-actions [hidden]="!user.cr_channel?.length >= channels.length">
            <p>
                Already Subscribed !!
            </p>
        </mat-card-actions> -->
    </mat-card>
</div>