<mat-card class="card-layout">
    <div class="member-form">
        <form class="login100-form validate-form form" [formGroup]="enrollForm" (ngSubmit)="registerUser()"
            autocomplete="off">
            <mat-form-field
                appearance="outline"
                class="wrap-input100 validate-input m-b-26 form-group" >
                <mat-label class="label-input100">Name</mat-label>
                <input matInput class="input100" type="text" placeholder="Enter your name" formControlName="name"> 
            </mat-form-field>
            <mat-error *ngIf="enrollForm.controls['name'].errors && (enrollForm.get('name').touched || enrollForm.get('name').dirty)"
            class="error">
                <div *ngIf="enrollForm.controls['name'].errors?.pattern" class="error">
                    name is not valid
                </div>
                <div *ngIf="enrollForm.controls['name'].errors.required" class="error">
                    name is required
                </div>
            </mat-error>
            
            <mat-form-field 
                appearance="outline" 
                class="wrap-input100 validate-input m-b-26 form-group">
                <mat-label class="label-input100">Email</mat-label>
                <input matInput class="input100" type="email" placeholder="Enter Email address" formControlName="email">
            </mat-form-field>
            <mat-error
                *ngIf="enrollForm.controls['email'].errors && (enrollForm.get('email').touched || enrollForm.get('email').dirty)"
                class="error">
                <div *ngIf="enrollForm.controls['email'].errors.required">Email address is required</div>
            </mat-error>
            <mat-error *ngIf="enrollForm.controls['email'].errors?.pattern" class="error">
                Employee email address is not valid
            </mat-error>

            <mat-form-field 
                appearance="outline" 
                class="wrap-input100 validate-input m-b-26 form-group">
                <mat-label class="label-input100">Mobile</mat-label>
                <input matInput class="input100"  type="tel" placeholder="Enter Mobile Number" formControlName="phone">
            </mat-form-field>
            <mat-error
                *ngIf="enrollForm.controls['phone'].errors && (enrollForm.get('phone').touched || enrollForm.get('phone').dirty)"
                class="error">
                <div *ngIf="enrollForm.controls['phone'].errors.required">Number is required</div>
            </mat-error>
            <div class="container-login100-form-btn">
                <button mat-raised-button type="reset" class="login100-form-btn" [routerLink]="['']" routerLinkActive="router-link-active" >
                    Cancel
                </button>
                <button mat-raised-button color="primary" type="submit" class="login100-form-btn">
                    Submit
                </button>
            </div>
        </form>
    </div>
</mat-card>
