<mat-card class="card-layout">
    <div class="member-form">
        <form class="login100-form validate-form form" [formGroup]="loginForm" (ngSubmit)="login()"
            autocomplete="off">
            <mat-form-field appearance="outline" class="wrap-input100 validate-input m-b-26 form-group">
                <mat-label class="label-input100">Email</mat-label>
                <input matInput class="input100" type="email" placeholder="Enter Email address" formControlName="email">
            </mat-form-field>
            <mat-error
                *ngIf="loginForm.controls['email'].errors && (loginForm.get('email').touched || loginForm.get('email').dirty)"
                class="error">
                <div *ngIf="loginForm.controls['email'].errors.required">Email address is required</div>
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].errors?.pattern" class="error">
                Employee ID not valid
            </mat-error>

            <mat-form-field appearance="outline" class="wrap-input100 validate-input m-b-26 form-group">
                <mat-label class="label-input100">Mobile</mat-label>
                <input matInput class="input100" type="tel" placeholder="Enter Mobile Number" formControlName="phone">
            </mat-form-field>
            <mat-error
                *ngIf="loginForm.controls['phone'].errors && (loginForm.get('phone').touched || loginForm.get('phone').dirty)"
                class="error">
                <div *ngIf="loginForm.controls['phone'].errors.required">Number is required</div>
                <div *ngIf="loginForm.controls['phone'].errors?.pattern">Not Valid Number</div>
            </mat-error>
            <div class="container-login100-form-btn">
                <button mat-raised-button type="reset" class="login100-form-btn">
                    Cancel
                </button>
                <button mat-raised-button color="primary" type="submit" class="login100-form-btn">
                    Submit
                </button>
            </div>
            <div class="goto-register">
                <a class="add-user-link" [routerLink]="['/register']" routerLinkActive="router-link-active">New User?</a>
            </div>
        </form>
    </div>
</mat-card>

