<div class="home-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" [routerLink]="['subscription/Packages']" routerLinkActive="router-link-active" >
                <img class="d-block w-100" src="../../../assets/images/download_first.svg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>SAT TV Packages</h5>
                    <p>Get subscribe with our latest Packs and Enjoy hassle free entertainment</p>
                </div>
            </div>
            <div class="carousel-item" [routerLink]="['subscription/Services']" routerLinkActive="router-link-active" >
                <img class="d-block w-100" src="../../../assets/images/download.svg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>SAT TV Services</h5>
                    <p>Get subscribe with our latest Services and excel your skills</p>
                </div>
            </div>
            <div class="carousel-item" [routerLink]="['subscription/Channels']" routerLinkActive="router-link-active" >
                <img class="d-block w-100" src="../../../assets/images/download_third.svg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>SAT TV Add-on channel</h5>
                    <p>Get subscribe with our add-on channel at unbelieveable cost</p>
                </div>
            </div>
        </div>
    </div>
</div>